[Desktop Entry]
Name=Progressive Chat
GenericName=Matrix Client
Comment=Progressive Matrix client for old devices (Qt 5.6, Android 2.3+)
Exec=progressive-chat
Terminal=false
Icon=chat.progressive.qt
Type=Application
Categories=Network;InstantMessaging;
